<%- include('includes/header')%>

<body>
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <form class="login_container" action="/resto/login" method="POST">
    <div class="login_frame">
      <div class="login_top">
        <span>Saytga Kirish</span>
        <div>
          Bosh Sahifaga Qaytish
          <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Royhatdan Otmaganmisz?
          <a href="/resto/sign-up" style="color: #6440fb">Royhatdan otish</a>
        </p>
      </div>

      <div class="login_input_frame">
        <div class="login_input_container">
          <label for="">Foydalanuvchining ismi:</label>
          <input
            type="text"
            name="mb_nick"
            value=""
            placeholder="Foydalanuvchining ismi"
            required
          />
        </div>
        <div class="login_input_container">
          <label for="">Password Kiriting:</label>
          <input
            type="password"
            name="mb_password"
            value=""
            placeholder="Password"
            required
          />
        </div>
      </div>
      <button class="login_btn btn" type="submit">Kirish</button>
    </div>
  </form>
</body>
<%- include('includes/footer')%>
