<%- include('includes/header')%>

<body>
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <form
    onsubmit="return validateSignUpForm()"
    class="login_container"
    action="/resto/sign-up"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 640px; height: 700px">
      <div class="login_top">
        <span>Royhatdan o'tish</span>
        <div>
          Bosh Sahifaga Qaytish
          <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Royhatdan allaqachon Otganmisz?
          <a href="/resto/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Foydalanuvchining ismi:</label>
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            value=""
            placeholder="Foydalanuvchining ismi"
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Telefon raqam</label>
          <input
            type="text"
            name="mb_phone"
            class="mb_phone"
            value=""
            placeholder="Telefon raqam"
            required
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Password</label>
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            value=""
            placeholder="Password kiriting"
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Passwordni tasdiqlash</label>
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            value=""
            placeholder="Passwordni tasdiqlash"
            required
          />
        </div>
      </div>
      <div class="login_input_frame">
        <div class="media_frame">
          <img
            class="upload_img_frame"
            src="/images/burger.jpeg"
            alt=""
          />
          <div class="upload_container">
            <span class="media_text">Restaurant rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload_name"
                value="Rasmni tanlang"
                disabled="disabled"
              />
              <label for="input_file">Rasm yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thubnail_desc">
              Oshxona rasmingizni buyerga yuklang.<br />Muhim korstamalar: .jpg
              .jpeg yoki .png. <br />Rasmda matn yoq bolishidarkor!
            </p>
          </div>
        </div>
      </div>
      <button class="login_btn" name="signup" type="submit">
        Royhatdan otish
      </button>
    </div>
  </form>
</body>
<script>
  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        console.log("javob",uploading_file);
        const fileType = uploading_file["type"];
        const validImagestype = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImagestype.includes(fileType)) {
          alert(
            "Iltimos ruhsat etilgan formatdagi rasmlarni yuklang, jpg,jpeg, va png"
          );
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("success");
          }
          filename = uploading_file.name;
        }
      }
      $(this).siblings(".upload-name").val(filename);
    });
  });

  function validateSignUpForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_password = $(".mb_password ").val();
    const mb_phone = $(".mb_phone ").val();
    const mb_confirm_password = $(".mb_confirm_password ").val();
    const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

    if (
      mb_nick == "" ||
      mb_phone == "" ||
      mb_password == "" ||
      mb_confirm_password == ""
    ) {
      alert("Iltimos xama malumotni kriting");
      return false;
    } else if (mb_password !== mb_confirm_password) {
      alert(`Iltimos passwordni t'og'ri kiriting`);
      return false;
    }
    if (!restaurant_img) {
      alert("Iltimos rasmni yuklang");
      return false;
    }
    return true;
  }
</script>
<%- include('includes/footer')%>
